* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    outline: none;
}
form {
    width: fit-content;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
form .input-group {
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
}
form .input-group input {
    padding: 6px 10px;    
    border: 1px solid #c4c4c4;
    width: 277px;
    height: 57px;
    border-radius: 4px;

}
.required  {
    color: blue !important;
}
.required input {
    border-color: blue !important;
}
.error-field {
    position: relative;
    color: red !important;
}
.error-field input {
    border-color: red !important;
}
.error-field::after {
    content: "";
    display: block;
    background-image: url('./warn.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 26px;
    right: -25px;
}
.box{
    display: flex;
    gap: 29px;
    margin-top: 30px;
}
.text2 h1{
   text-align: center;
}
.text_p{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.btn{
    width: 277px;
    height: 59px;
    padding: 20px 12px;
    flex-shrink: 0;
    text-align: center;
    border-radius: 4px;
   display: flex;
   justify-content: center;
   align-items: center;
   margin-left: 120px;
   background-color: rgb(70, 70, 247);
   border: none;
   color: wheat;
}

span{
  font-size: 15px;
  color: rgb(115, 115, 115);
}